<script>
	import PKCE from 'js-pkce';
	import { getContext } from 'svelte';
	import { browser } from '$app/env';
	import { page } from '$app/stores';
	import { LIB_NAME } from './constants';
	import * as storage from './storage';

	async function handleLogin() {
		const { pkceConfig } = getContext(LIB_NAME);
		const pkce = new PKCE(pkceConfig);
		const returnTo = $page.query.get('returnTo');
		if (returnTo) {
			storage.setReturnTo(returnTo);
		}
		// Do not use SvelteKit goto function to force a full page reload.
		window.location.replace(pkce.authorizeUrl());
	}

	if (browser) {
		handleLogin();
	}
</script>

<slot />
